body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-1);

}

.container {
  padding: 0 20px;
}

.titulo-1 {
  background-color: var(--cor-3);
}

.titulo-2 {
  background-color: var(--cor-0);
}

.titulo-1,
.titulo-2 {
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url(./utilidades/imagem/tenis-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 377px;
  position: relative;
  filter: brightness(50%);
}

.banner-texto {
  position: absolute;
  top: 270px;
}

.conteudo-texto {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.loja{
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.sapato {
  background-color: var(--cor-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 302px;
}

footer {
  background-color: var(--cor-3);
  text-align: center;
}

@media (min-width:1024px) {
  .container {
    padding: 0 125px;
  }

  .banner {
    background-image: url(./utilidades/imagem/tenis.png);
  }
  .banner-texto {
    left: 70px;
  }

  .loja{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
}
